*{
    box-sizing: border-box;
}

body{
    background-color: steelblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    background-color: rgba(45, 46, 38, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}

.container a{
    text-decoration: none;
    color: lightblue;
}

.formControl{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.formControl input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0 ;
    font-size: 18px; color: white;
}

.formControl input:focus, .formControl:valid{
    outline: 0;
}

.submitBtn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.submitBtn:focus{
    outline: 0;
    border-bottom-color: lightblue;
}

.submitBtn:active{
    transform: scale(0.98);
}

.text{
    margin-top: 30px;
}

.formControl label{
    position: absolute;
    top: 15px;
    left: 0;
}

.formControl label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.formControl input:focus + label span,
.formControl input:valid + label span{
    color: lightblue;
    transform: translateY(-30px);
}